<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/peeps" method="post">
      <textarea name="peep-body" maxlength="600"></textarea>
      <input type="submit" name="add-peep" value="Add Peep">
    </form>
  </body>
</html>
