<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/authenticate/login" method="post">
      <ul>
        <li>Name: <input type="text" name="name"></li>
        <li>Username: <input type="text" name="username"></li>
        <li>Email: <input type="text" name="email"></li>
        <li>Password: <input type="password" name="password"></li>
        <li><input type="submit" name="signup" value="Sign Up"></li>
      </ul>
    </form>
  </body>
</html>
