<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/authenticate/login">
      <input type="submit" name="login" value="Login">
    </form>
    <form  action="/authenticate/signup">
      <input type="submit" name="signup" value="Sign Up">
    </form>
  </body>
</html>
