<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/peeps/new">
      <input type="submit" name="add-peep" value="Add Peep">
    </form>
    <form  action="/peeps">
      <input type="submit" name="add-peep" value="View Peeps">
    </form>
  </body>
</html>
